body{
  width: 100%;
  background-color: #D3FEFF;
  color: #FF6E6F;
  font-family: 'Poiret One', serif;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', serif;
  font-weight: bold;
  color: #B54AE8;
}

h1{
  font-size: 55px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 20px;
}

nav ul{
  list-style: none;
  float: right;
  font-weight: bold;
}

nav li {
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
}

header {
  border-bottom: 3px solid #000;
  margin-bottom: 25px;
}

 img {
   max-width: 200px;
   max-height: 200px;
   border-radius: 50%;
   border: 5px solid #B54AE8;
 }

 .boxes {
   display: flex;
   justify-content: center;
   flex-direction: row;
 }
