body{
  width: auto;
  background-color: #D3FEFF;
  color: #FF6E6F;
  font-family: 'Poiret One', serif;
  padding: 50px;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', serif;
  font-weight: bold;
  color: #B54AE8;
}

h1{
  font-size: 55px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 20px;
}

nav ul{
  list-style: none;
  float: right;
  font-weight: bold;
}

nav li {
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
}

header {
  border-bottom: 3px solid #000;
  margin-bottom: 25px;
}

 img {
   max-width: 200px;
   max-height: 200px;
   border-radius: 50%;
   border: 5px solid #B54AE8;
   float: right;
 }

 .boxes {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   padding: 30px;
 }

 .art, .compsci, .english, .music, .philosophy{
   width: 35%;
   height: auto;
   margin: 40px;
   border: 2px solid #000;
 }

 .top, .bottom{
   display: flex;
 }

 .image{
   float: right;
   padding: 5px;
 }

 .namecourse{
   float: left;
   padding: 5px;
 }

 .coursename{
   display: inline-flex;
   float: left;
   border-top: 2px solid #000;
   padding-right: 10px;
   border-right: 2px solid #000;
   flex-direction: column;
 }

 .rating{
   display: inline-flex;
   float: right;
   border-top: 2px solid #000;
   padding-left: 10px;
   flex-direction: column;
 }
